body {
    background-color: #E8A0BF;
}
.banner{
    position: absolute;
    width: 300px;
    top: -10px;
}
.banner1{
    position: absolute;
    width: 300px;
    top: -10px;
    left: 420px;
}
.banner2{
    position: absolute;
    width: 300px;
    top: -10px;
    left: 720px;
}
.banner3{
    position: absolute;
    width: 300px;
    top: -10px;
    right: 0px;
}
.card{
    background-color: white;
    width: 500px;
    height: 1100px;
    padding: 10px;
    border-radius: 20px;
    margin-top: 100px;
    margin-left: 500px;
    margin-bottom: 20px;
}
.hero{
    position: absolute;
    width: 350px;
}
.hero1{
    position: absolute;
    width: 350px;
    right: 0px;
}
.judul {
    font-family: 'Oswald', sans-serif;
}
.foto {
    width: 250px;
    margin-left: 110px;
    border-radius: 20px;
}
.pesan{
    position: absolute;
    top: 330px;
    font-family: 'Vollkorn', serif;
}
.sub-judul{
    margin-top: 10px;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: bold;
}
.tombol1 {
    position: absolute;
    top: 80px;
    left: 350px;
    background-color: #3A4F7A;
    color: white;
    border: none;
    z-index: 9999;
}
.tombol1:hover {
    background-color: #F5C6EC;
    color: white;
    border: none;
}
.sembunyi {
    display: none;
}
.surat {
    width: 500px;
    position: absolute;
    right: 400px;
    top: 50px;
}
.tombol2 {
    position: absolute;
    top: 380px;
    left: 650px;
    background-color: #3A4F7A;
    color: white;
    border: none;
    z-index: 9999;
}
.tombol2:hover {
    background-color: #F5C6EC;
    color: white;
    border: none;
}